{% load staticfiles %}
<!DOCTYPE html>
<html>
<head>
<title>Hello Map</title>
  <link rel="stylesheet" type="text/css" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script type="text/javascript" src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.css" />
  <script src="https://unpkg.com/leaflet@1.0.0-rc.3/dist/leaflet.js"></script>
  <link rel="stylesheet" href="/static/leaflet-vector-markers.css">
  <script src="/static/leaflet-vector-markers.js"></script>
  <style type="text/css">
    #mapid { height: 500px; }
    .legend {
      background: white;
      font-size: 15px;
      padding: 10px;
    }
    .legend i {
      width: 20px;
      height: 20px;
      float: left;
      margin-right: 8px;
      opacity: 0.7;
    }
  </style>
</head>
<body>

{% block content %}{% endblock %}

</body>
</html>
