{% extends "base.html" %}
{% load staticfiles %}

{% block content %}
<div id="mapid"></div>
<div style="margin: 15px"><h2><a href="admin/hello/place/add/">Add New Place</a></h2></div>
<script>
  var places = {{places|safe}};
  var point = {{point|safe}};
  var colors = {'bolge merkezi': 'red', 'il merkezi': 'blue', 'ilce merkezi': 'green', 'ilce temsilcilik': 'gray'};
  var markers = {'bolge merkezi': 'redMarker', 'il merkezi': 'blueMarker', 'ilce merkezi': 'greenMarker', 'ilce temsilcilik': 'grayMarker'};
  var fillcolors = {'bolge merkezi': 'red', 'il merkezi': 'blue', 'ilce merkezi': 'green', 'ilce temsilcilik': 'gray'};
  var sizes = {'bolge merkezi': 400, 'il merkezi': 300, 'ilce merkezi': 200, 'ilce temsilcilik': 100};
  var mymap = L.map('mapid').setView([point.y, point.x], 10);
  var redMarker = L.VectorMarkers.icon({
    icon: 'coffee',
    markerColor: 'red'
  });
  var blueMarker = L.VectorMarkers.icon({
    icon: 'coffee',
    markerColor: 'blue'
  });
  var greenMarker = L.VectorMarkers.icon({
    icon: 'coffee',
    markerColor: 'green'
  });
  var grayMarker = L.VectorMarkers.icon({
    icon: 'coffee',
    markerColor: 'gray'
  });
  L.tileLayer('https://api.tiles.mapbox.com/v4/{id}/{z}/{x}/{y}.png?access_token=pk.eyJ1IjoiYXltYW5raDg2IiwiYSI6ImNpaWZ3ZXVxZTAwMzV2emt1MnlyNXMycjEifQ.QqFX83oyq-R8I0r_vjL9uA', {
      attribution: 'Map data &copy; <a href="http://openstreetmap.org">OpenStreetMap</a> contributors, <a href="http://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>, Imagery © <a href="http://mapbox.com">Mapbox</a>',
      maxZoom: 18,
      id: 'mapbox.streets',
      accessToken: 'pk.eyJ1IjoiYXltYW5raDg2IiwiYSI6ImNpaWZ3ZXVxZTAwMzV2emt1MnlyNXMycjEifQ.QqFX83oyq-R8I0r_vjL9uA'
  }).addTo(mymap);

  var marker1 = L.marker([point.y, point.x]).addTo(mymap);
  marker1.bindPopup(point.y + ', ' + point.x);

  places.forEach(function(item) {
    /*var circle = L.circle([item.point.y, item.point.x], sizes[item._type], {
        color: colors[item._type],
        fillColor: fillcolors[item._type],
        fillOpacity: 0.5
        }).addTo(mymap);*/
    var marker;
    if (item._type == 'bolge merkezi')
      marker = L.marker([item.point.y, item.point.x], {icon: redMarker}).addTo(mymap);
    if (item._type == 'il merkezi')
      marker = L.marker([item.point.y, item.point.x], {icon: blueMarker}).addTo(mymap);
    if (item._type == 'ilce merkezi')
      marker = L.marker([item.point.y, item.point.x], {icon: greenMarker}).addTo(mymap);
    if (item._type == 'ilce temsilcilik')
      marker = L.marker([item.point.y, item.point.x], {icon: grayMarker}).addTo(mymap);

    var name = item.name || '';
    var province = item.province || '';
    var district = item.district || '';
    var population = item.population || '';
    var income = item.income || 0;
    var near_border = item.near_border;
    var border_distance = item.border_distance || '';
    var earlier_disaster = item.earlier_disaster || '';

    var text = '<b>name:</b> ' + name + '<br ><b>province:</b> ' + province + '<br >';
    text += '<b>district:</b> ' + district + '<br ><b>population:</b> ' + population + '<br >';
    text += '<b>income:</b> ' + income + '<br ><b>near border:</b> ' + near_border + '<br >';
    text += '<b>border distance:</b> ' + border_distance + '<br ><b>earlier disaster:</b> ' + earlier_disaster + '<br >';
    marker.bindPopup(text);
  });

  var legend = L.control({position: 'topright'});

  legend.onAdd = function (map) {
    var div = L.DomUtil.create('div', 'info legend');
    div.innerHTML += '<i style="background: red"></i> bolge merkezi<br> <i style="background: blue"></i> il merkezi<br><i style="background: green"></i> ilce merkezi<br><i style="background: gray"></i> ilce temsilcilik';
    return div;
  };

  legend.addTo(mymap);

  function onMapClick(e) {
       window.location.href = '?lat=' + e.latlng.lat + '&lng=' + e.latlng.lng;
  }

  mymap.on('click', onMapClick);
</script>
{% endblock %}
